<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="ai.chatr.gsm.core.telecom.ChatrGsmInCallService"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <service
            android:name="ai.chatr.gsm.core.telecom.ChatrGsmConnectionService"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service
            android:name="ai.chatr.gsm.core.telecom.ChatrGsmCallRedirectionService"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.BIND_CALL_REDIRECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallRedirectionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
